/* BASE */
html, body {
    width: 100%;
    height: 100%;
}
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
    padding: 0px;
}

/* HEADER */
header nav ul{
  float: right;
  list-style-type: none;
  margin-right: 18rem;
}
header nav ul li{
  float: left;
  margin-left: 1em;
  text-transform: uppercase;
  font-size: 0.9em;
}
a,a:hover,a:focus {
    color: inherit;
    margin: 0px;
    padding: 0px;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}
.site-header {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 111;
}
.site-header.sticky {
    background: #fff;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 111;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* FRONT */
#particles-js{
  margin: 0;
  width: 100%;
  height:100%;
  background-size: 33%;
  background-image: url("../images/yo.png");
  background-repeat: no-repeat;
  background-position: bottom center ;
  background-attachment: fixed;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
#particles-js h1{
  background: transparent;
  position: absolute;
  margin-top: 169px;
  margin-left: 169px;
  font-size:60px;
}
#particles-js h5{
  background: transparent;
  position: absolute;
  margin-top: 250px;
  margin-left: 169px;
  font-size:20px;
}

/* SECTIONS */
#aboutMe,#Certificaciones{
  padding: 35px 0;
  background-position: bottom center;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: auto;
}
#aboutMe h1,#Certificaciones h1{
  margin: 0 auto;
  text-align: center;
}
#aboutMe section,#Certificaciones section{
  width: 45%;
  margin: 0 5% 0 0;
  position: relative;
  float: left;
}

/* ABOUT ME */
#aboutMe h3{
  margin: 20px 10em;
}
#aboutMe p{
  margin: 0.7em 10em;
}

/* CERTIFICATIONS */
#Certificaciones{
  height: auto;
}
#Certificaciones h3{
  margin: 20px 10em;
  text-align: center;
}
#Certificaciones img{
  max-width: 95%;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 2px 1px 1px 1px rgba(0,0,0,0.15);
}

/* DEGREE */
#gitGithub,#gitGithub2 {
  display: none;
}
.button {
  border: 2px solid #E6E6E6;
  z-index: 999;
  width: 43px;
  height: 43px;
  background: #848484;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
}
.button:before {
  position: absolute;
  top: 20px;
  left: 9px;
  content: '';
  width: 25px;
  height: 2px;
  background: #FFF;
  transform: rotate(90deg);
}
.button:after {
  position: absolute;
  top: 20px;
  left: 9px;
  content: '';
  width: 25px;
  height: 2px;
  background: #FFF;
}
#gitGithub:checked ~ #gitGithub,#gitGithub2:checked ~ #gitGithub2 {
  display: block;
}
#gitGithub:checked ~ .button,#gitGithub2:checked ~ .button {
  transform: rotate(135deg);
  box-shadow: 0 0 0 0 transparent;
}
