[build]
  command = "npm run build"
  publish = "dist"

[[edge_functions]]
  path = "/*"
  function = "basic-auth"

[context.production.environment]
  ENVIRONMENT = "production"

[context."branch:staging".environment]
  ENVIRONMENT = "staging"

[[redirects]]
  from = "/blog/page/:splat"
  to = "/blog/pages/:splat"
  status = 301
  force = true
